<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h1>Hello, HTML.</h1>
		<p>Do not use until Challenge #12</p>
		<ul>
			<li><a href="/now">Now</a></li>
			<li><a href="/json">JSON</a></li>
			<li><a href="/hello-world/echo">Word Echo</a></li>
		</ul>
	<h1>POST FORM</h1>
     <form action="/name" method="post">
      <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form>
	<h1>GET FORM</h1>
	<form action="/name" method="get">
		<label>First Name :</label>
		<input type="text" name="first" value="John"><br>
		<label>Last Name :</label>
		<input type="text" name="last" value="Doe"><br><br>
		<input type="submit" value="Submit">
	  </form> 
	</body>

</html>
